
body{
    background-color: floralwhite;
}

header{
    width: 100%;
    display: flex;
    background-color:#BF2A45;
    color: white;
    padding: 20px;
    
}


#header{
    width: 25%;
    text-align: center;
}

#bloque1{
    display: flex;
    background-color: #D9A7A3;
    border-radius: 20px;
    padding: 40px;
}

h1{
    font-family: 'Courier New', Courier, monospace;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    text-align: center;
    
    
}
a{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
}

#doble{
    display: flex;
    border-radius: 20px;
    width: 100%;
}

#bloque2{
    
    width: 100%;
    
    width: 50%;
    padding: 4%;
    margin: 5px;
    text-align: center;
    border-radius: 20px;
    background-color: #D9A7A3;
    
}
ol{
    text-align: left;
    font-family:Georgia, 'Times New Roman', Times, serif
}

ul{
    text-align: left;
}


footer{
    padding: 5px;
    display: flex;
    text-align: center;

    background-color:#b4b4b4
    ;
}

footer div{
    width: 50%;
    color: white;
}

footer div ul{
    text-align: center;
    list-style: none;
}


a:hover{
    letter-spacing: 3px;
    padding: 13px;
    background-color: black;
    color: white;
}

#metas{
    text-align: center;
    
    
    
}

#bloquemetas{
    display: flex;
}
#meta{
    width: 30%;
    display: flex;
    margin: 50px;
    padding: 7px;
    border-color: black;
    border-width: 1px;
    border-radius: 20px;
    border-style:solid;
    background-color: white;
    

}

#meta:hover{
    color: white;
    background-color: rgb(190, 137, 157);
}
#meta img:hover{
    border-radius: 30px;
}



#fotometa{
    width: 40%;
    margin: 3px;
}
#infometa{
    font-size: large;
    width: 60%;
    margin: 3px;
}
#fotometa img{
    border-radius: 20px;
}

#fotometa img{
    width: 200px;
}

#descripcion{
    display: grid;
    place-items: center;
    margin: auto;
    border-style: solid;
    border-color: #BF2A45;
    border-width: 8px;
    background-color: #D9A7A3;
    padding: 20px;
    width: 80%;
    font-size: larger;
    
    
    
}
#descripcion h2{
    text-align: left;
} 
#descrip{
    text-align: center;
}

#header a{
    background-color:#BF2A45;
    color: black;
}

#header a:hover{
    background-color: white;
    color: black;
}